<?xml version="1.0" encoding="UTF-8"?>
<gui name="wicd-kde"
     version="2"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd" >

<MenuBar>
    <Menu name="file"><text>&amp;File</text>
    </Menu>
        <Menu name="Network"><text>&amp;Network</text>
        <Action name="reload"/>
        <Action name="disconnect"/>
        <Separator/>
        <Action name="createadhoc"/>
        <Action name="findnetwork"/>
    </Menu>
    <Menu name="settings"><text>&amp;Settings</text>
       <Action name="preferences"/>
    </Menu>
    <Menu name="help"><text>&amp;Help</text>
    </Menu>
</MenuBar>

<ToolBar name="mainToolBar" > <text>Main Toolbar</text>
   <Action name="networkmenu" />
   <Separator/>
   <Action name="preferences" />
   <Separator/>
   <Action name="reload" />
   <Action name="disconnect" />
</ToolBar>
  
</gui>
