[Desktop Entry]
Exec=wicd-client-kde
OnlyShowIn=KDE;
Type=Application
Terminal=false
Icon=network-wireless
GenericName=Wicd client
GenericName[de]=Wicd-Oberfläche
GenericName[nds]=WICD-Programm
GenericName[pt]=Cliente do Wicd
GenericName[pt_BR]=Cliente Wicd
GenericName[sv]=WICD-klient
GenericName[uk]=Клієнт Wicd
GenericName[x-test]=xxWicd clientxx
Name=Wicd Client KDE
Name[de]=Wicd-Oberfläche (KDE)
Name[nds]=KDE-WICD
Name[pt]=Cliente do Wicd para o KDE
Name[pt_BR]=Cliente wicd para KDE
Name[sv]=WICD-klient KDE
Name[uk]=Клієнтська програма Wicd для KDE
Name[x-test]=xxWicd Client KDExx
X-KDE-StartupNotify=false
X-KDE-autostart-after=panel
X-DBUS-StartupType=Unique
Categories=Qt;KDE;Network;
