[Desktop Entry]
Exec=wicd-client-kde
OnlyShowIn=KDE;
Type=Application
Terminal=false
Icon=network-wireless
GenericName=Wicd client
GenericName[uk]=Клієнт Wicd
GenericName[x-test]=xxWicd clientxx
Name=Wicd Client KDE
Name[uk]=Клієнтська програма Wicd для KDE
Name[x-test]=xxWicd Client KDExx
X-KDE-StartupNotify=false
X-KDE-autostart-after=panel
X-DBUS-StartupType=Unique
Categories=Qt;KDE;Network;
