[Desktop Entry]
Name=Wicd client
Comment=Wicd Client KDE
Type=Service
Icon=network-wireless

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_wicd
X-KDE-PluginInfo-Author=Anthony Vital
X-KDE-PluginInfo-Email=anthony.vital@gmail.com
X-KDE-PluginInfo-Name=wicd-kde
X-KDE-PluginInfo-Version=0.3.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-NotificationArea=true

