[Desktop Entry]
Name=Wicd client
Name[bs]=Wicd klijent
Name[cs]=Klient Wicd
Name[da]=Wicd-klient
Name[de]=Wicd-Oberfläche
Name[el]=Wicd client
Name[es]=Cliente de Wicd
Name[et]=Wicd klient
Name[fi]=Wicd-asiakas
Name[fr]=Client Wicd
Name[gl]=Cliente de Wicd
Name[hu]=Wicd-kliens
Name[it]=Client Wicd
Name[km]=ម៉ាស៊ីន​ភ្ញៀវ Wicd
Name[lt]=Wicd klientas
Name[mr]=वायसीडी ग्राहक
Name[nb]=Wicd-klient
Name[nds]=WICD-Programm
Name[nl]=Wicd-client
Name[pl]=Klient Wicd
Name[pt]=Cliente do Wicd
Name[pt_BR]=Cliente Wicd
Name[ro]=Client Wicd
Name[ru]=Клиент Wicd
Name[sk]=Wicd klient
Name[sl]=Odjemalec Wicd
Name[sv]=WICD-klient
Name[tr]=Wicd istemcisi
Name[ug]=Wicd خېرىدار پروگراممىسى
Name[uk]=Клієнт Wicd
Name[x-test]=xxWicd clientxx
Name[zh_CN]=Wicd 客户端
Name[zh_TW]=Wicd 客戶端程式
Comment=Wicd Client KDE
Comment[bs]=Wicd klijent za KDE
Comment[cs]=Klient Wicd pro KDE
Comment[da]=Wicd Client KDE
Comment[de]=Wicd-Oberfläche (KDE)
Comment[el]=Wicd εφαρμογή-πελάτης του KDE
Comment[es]=Cliente de Wicd para KDE
Comment[et]=KDE Wicd klient
Comment[fi]=KDE:n Wicd-asiakas
Comment[fr]=Client Wicd pour KDE
Comment[gl]=Cliente de Wicd para o KDE
Comment[hu]=Wicd KDE kliens
Comment[it]=Client Wicd per KDE
Comment[km]=ម៉ាស៊ីន​ភ្ញៀវ Wicd របស់​ KDE
Comment[lt]=KDE Wicd klientas
Comment[mr]=वायसीडी ग्राहक केडीई
Comment[nb]=Wicds KDE-klient
Comment[nds]=WICD-Programm för KDE
Comment[nl]=KDE Wicd-client
Comment[pl]=Klient Wicd dla KDE
Comment[pt]=Cliente do Wicd para o KDE
Comment[pt_BR]=Cliente Wicd para o KDE
Comment[ro]=Client Wicd pentru KDE
Comment[ru]=Клиент Wicd для KDE
Comment[sk]=Wicd klient KDE
Comment[sl]=Odjemalec Wicd za KDE
Comment[sv]=WICD-klient KDE
Comment[tr]=Wicd İstemcisi KDE
Comment[ug]=Wicd Client KDE
Comment[uk]=Клієнтська програма Wicd для KDE
Comment[x-test]=xxWicd Client KDExx
Comment[zh_CN]=Wicd KDE 客户端
Comment[zh_TW]=Wicd KDE 客戶端程式
Type=Service
Icon=network-wireless

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_wicd
X-KDE-PluginInfo-Author=Anthony Vital
X-KDE-PluginInfo-Email=anthony.vital@gmail.com
X-KDE-PluginInfo-Name=wicd-kde
X-KDE-PluginInfo-Version=0.3.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-NotificationArea=true

