[Desktop Entry]
Name=Wicd client
Name[da]=Wicd-klient
Name[es]=Cliente de Wicd
Name[fr]=Client Wicd
Name[it]=Client Wicd
Name[nb]=Wicd-klient
Name[nl]=Wicd-client
Name[pt]=Cliente do Wicd
Name[pt_BR]=Cliente Wicd
Name[sv]=WICD-klient
Name[uk]=Клієнт Wicd
Name[x-test]=xxWicd clientxx
Name[zh_TW]=Wicd 客戶端程式
Comment=Wicd Client KDE
Comment[da]=Wicd Client KDE
Comment[es]=Cliente de Wicd para KDE
Comment[fr]=Client Wicd pour KDE
Comment[it]=Client Wicd per KDE
Comment[nb]=Wicds KDE-klient
Comment[nl]=KDE Wicd-client
Comment[pt]=Cliente do Wicd para o KDE
Comment[pt_BR]=Cliente Wicd para o KDE
Comment[sv]=WICD-klient KDE
Comment[uk]=Клієнтська програма Wicd для KDE
Comment[x-test]=xxWicd Client KDExx
Comment[zh_TW]=Wicd KDE 客戶端程式
Type=Service
Icon=network-wireless

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_wicd
X-KDE-PluginInfo-Author=Anthony Vital
X-KDE-PluginInfo-Email=anthony.vital@gmail.com
X-KDE-PluginInfo-Name=wicd-kde
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-NotificationArea=true

