[Desktop Entry]
Exec=kcmshell4 kcm_wicd
Icon=preferences-system-network
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_wicd
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=network-settings

Name=Wicd preferences
Name[bs]=Wicd postavke
Name[cs]=Nastavení Wicd
Name[da]=Indstillinger for Wicd
Name[de]=Wicd-Einstellungen
Name[el]=Wicd προτιμήσεις
Name[en_GB]=Wicd preferences
Name[es]=Preferencias de Wicd
Name[et]=Wicd seadistused
Name[fi]=Wicd-asetukset
Name[fr]=Préférences de Wicd
Name[gl]=Preferencias do Wicd
Name[hu]=Beállítások: Wicd
Name[it]=Impostazioni di Wicd
Name[km]=ចំណូល​ចិត្ត Wicd
Name[lt]=Wicd nustatymai
Name[mr]=वायसीडी प्राधान्ये
Name[nb]=Oppsett for Wicd
Name[nds]=WICD-Instellen
Name[nl]=Voorkeuren van wicd
Name[pl]=uUstawienia Wicd
Name[pt]=Preferências do Wicd
Name[pt_BR]=Preferências do Wicd
Name[ro]=Preferințe Wicd
Name[ru]=Параметры Wicd
Name[sk]=Predvoľby Wicd
Name[sl]=Možnosti Wicd
Name[sv]=Inställningar av WICD
Name[tr]=Wicd tercihleri
Name[uk]=Налаштування Wicd
Name[x-test]=xxWicd preferencesxx
Name[zh_CN]=Wicd 首选项
Name[zh_TW]=Wicd 喜好設定

Comment=System-wide preferences for the Wicd daemon
Comment[bs]=Sistemske postavke za Wicd demon
Comment[cs]=Systémová nastavení pro démona Wicd
Comment[da]=Systemomfattende indstillinger for Wicd-dæmonen
Comment[de]=Systemweite Einstellungen für den Wicd-Dienst
Comment[el]=Προτιμήσεις συστήματος για την υπηρεσία Wicd
Comment[en_GB]=System-wide preferences for the Wicd dæmon
Comment[es]=Preferencias del sistema para el demonio Wicd
Comment[et]=Wicd deemoni süsteemsed seadistused
Comment[fi]=Wicd-palvelun järjestelmänlaajuiset asetukset
Comment[fr]=Préférences à l'échelle du système pour le démon Wicd
Comment[gl]=Preferencias para todo o sistema para o daemon do Wicd
Comment[hu]=Rendszerszintű beállítások a Wicd démonhoz
Comment[it]=Impostazioni di sistema del demone Wicd
Comment[km]=ចំណូល​ចិត្ត​ទូទាំង​ប្រព័ន្ធ​សម្រាប់​ដេមិន​ Wicd
Comment[lt]=Sistemos nustatymai Wicd tarnybai
Comment[nb]=Systemoppsett for Wicd-nissen
Comment[nds]=WICD-Dämoon för't hele System instellen
Comment[nl]=Systeembrede voorkeuren voor de Wicd-daemon
Comment[pl]=Systemowe ustawienia dla demona Wicd
Comment[pt]=Preferências do sistema para o servidor Wicd
Comment[pt_BR]=Preferências do sistema para o servidor Wicd
Comment[ro]=Preferințele demonului Wicd pentru întreg sistemul
Comment[ru]=Общесистемная настройка службы Wicd
Comment[sk]=Systémové predvoľby pre démon Wicd
Comment[sl]=Sistemske možnosti za ozadnji program Wicd
Comment[sv]=Systemomfattande inställningar för WICD-demonen
Comment[tr]=Wicd uygulaması için sistem çapında tercihler
Comment[uk]=Загальносистемні налаштування фонової служби Wicd
Comment[x-test]=xxSystem-wide preferences for the Wicd daemonxx
Comment[zh_CN]=Wicd 进程的系统级首选项
Comment[zh_TW]=Wicd 伺服程式的系統喜好設定

X-KDE-Keywords=wicd,network,wireless,wired,connection
X-KDE-Keywords[cs]=wicd,síť,bezdrátové,drátové,spojení
X-KDE-Keywords[da]=wicd,netværk,trådløst,kablet,forbindelse
X-KDE-Keywords[de]=wicd,network,wireless,wired,connection
X-KDE-Keywords[el]=wicd,δίκτυο,ασύρματο,ενσύρματο,σύνδεση
X-KDE-Keywords[es]=wicd,red,wireless,cableado,conexión
X-KDE-Keywords[et]=wicd,võrk,juhtmeta,juhtmega,ühendus
X-KDE-Keywords[fi]=wicd,verkko,langaton,wlan,langallinen,ethernet,yhteys
X-KDE-Keywords[fr]=Wicd, réseau, sans fil, filaire, connexion
X-KDE-Keywords[gl]=wicd,rede,sen fíos,con fíos,conexión
X-KDE-Keywords[hu]=wicd,hálózat,vezeték nélküli,vezetékes,kapcsolat
X-KDE-Keywords[it]=wicd,rete,senza fili,wireless,cablata,connessione
X-KDE-Keywords[km]=wicd,network,wireless,wired,connection
X-KDE-Keywords[lt]=wicd,tinklas,belaidis,laidinis,ryšys
X-KDE-Keywords[nb]=wicd,nettverk.trådløs,kablet,tilkobling
X-KDE-Keywords[nl]=wicd,netwerk,draadloos,via kabel,verbinding
X-KDE-Keywords[pl]=wicd,sieć,bezprzewodowo,przewodowo,połączenie
X-KDE-Keywords[pt]=wicd,rede,sem-fios,com-fios,ligação
X-KDE-Keywords[pt_BR]=wicd,rede,sem fio,com fio,conexão
X-KDE-Keywords[ro]=wicd,rețea,wireless,fără fir,prin fir,conexiune
X-KDE-Keywords[ru]=wicd,network,wireless,wired,connection,сеть,беспроводная сеть,проводная сеть,соединение
X-KDE-Keywords[sk]=wicd,sieť,bezdrôtové,drôtové,pripojenie
X-KDE-Keywords[sl]=wicd,omrežje,brezžično,žično,povezava
X-KDE-Keywords[sv]=WICD,nätverk,trådlös,trådbunden,anslutning
X-KDE-Keywords[tr]=wicd,ağ,kablosuz,kablolu,bağlantı
X-KDE-Keywords[uk]=wicd,network,wireless,wired,connection,мережа,дротова,бездротова,з’єднання,з'єднання
X-KDE-Keywords[x-test]=xxwicd,network,wireless,wired,connectionxx
X-KDE-Keywords[zh_CN]=wicd,network,wireless,wired,connection,网络,无线,有线,连接
X-KDE-Keywords[zh_TW]=wicd,network,wireless,wired,connection

Categories=Qt;KDE;X-KDE-settings-system;
