[Desktop Entry]
Exec=kcmshell4 kcm_wicd
Icon=preferences-system-network
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_wicd
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=network-settings

Name=Wicd preferences
Name[de]=Wicd-Einstellungen
Name[nds]=WICD-Instellen
Name[pt]=Preferências do Wicd
Name[pt_BR]=Preferências do Wicd
Name[ru]=Параметры Wicd
Name[sv]=Inställningar av WICD
Name[uk]=Налаштування Wicd
Name[x-test]=xxWicd preferencesxx

Comment=System-wide preferences for the Wicd daemon
Comment[de]=Systemweite Einstellungen für den Wicd-Dienst
Comment[pt]=Preferências do sistema para o servidor Wicd
Comment[pt_BR]=Preferência para todo o sistema para o servidor Wicd
Comment[ru]=Общесистемная настройка службы Wicd
Comment[sv]=Systemomfattande inställningar för WICD-demonen
Comment[uk]=Загальносистемні налаштування фонової служби Wicd
Comment[x-test]=xxSystem-wide preferences for the Wicd daemonxx

X-KDE-Keywords=wicd,network,wireless,wired,connection

Categories=Qt;KDE;X-KDE-settings-system;
