[Desktop Entry]
Name=Wicd
Name[da]=Wicd
Name[it]=Wicd
Name[nb]=Wicd
Name[nl]=Wicd
Name[pt]=Wicd
Name[pt_BR]=Wicd
Name[sv]=WICD
Name[uk]=Wicd
Name[x-test]=xxWicdxx
Name[zh_TW]=Wicd

Comment=A Wicd data engine
Comment[da]=En datamotor til Wicd
Comment[it]=Un motore dati Wicd
Comment[nb]=En Wicd datamotor
Comment[nl]=Een Wicd-gegevensengine
Comment[pt]=Um motor de dados do Wicd
Comment[pt_BR]=Um motor de dados do Wicd
Comment[sv]=Ett WICD-datagränssnitt
Comment[uk]=Рушій даних Wicd
Comment[x-test]=xxA Wicd data enginexx
Comment[zh_TW]=Wicd 資料引擎

X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=network-wireless
X-KDE-Library=plasma_engine_wicd
X-KDE-PluginInfo-Author=Anthony Vital
X-KDE-PluginInfo-Email=anthony.vital@gmail.com
X-KDE-PluginInfo-Name=wicd
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=

