[Desktop Entry]
Name=Wicd
Name[cs]=Wicd
Name[da]=Wicd
Name[de]=Wicd
Name[el]=Wicd
Name[es]=Wicd
Name[et]=Wicd
Name[fi]=Wicd
Name[fr]=Wicd
Name[ga]=Wicd
Name[hu]=Wicd
Name[it]=Wicd
Name[nb]=Wicd
Name[nds]=WICD
Name[nl]=Wicd
Name[pt]=Wicd
Name[pt_BR]=Wicd
Name[sv]=WICD
Name[ug]=Wicd
Name[uk]=Wicd
Name[x-test]=xxWicdxx
Name[zh_CN]=Wicd
Name[zh_TW]=Wicd

Comment=A Wicd data engine
Comment[cs]=Datový nástroj Wicd
Comment[da]=En datamotor til Wicd
Comment[de]=Ein Datenmodul für Wicd
Comment[el]=Μια μηχανή δεδομένων Wicd
Comment[es]=Un motor de datos de Wicd
Comment[et]=Wicd andmemootor
Comment[fi]=Wicd-tietomoottori
Comment[fr]=Un moteur de données pour Wicd
Comment[hu]=Wicd adatmodul
Comment[it]=Un motore dati Wicd
Comment[nb]=En Wicd datamotor
Comment[nds]=En WICD-Datenkarn
Comment[nl]=Een Wicd-gegevensengine
Comment[pt]=Um motor de dados do Wicd
Comment[pt_BR]=Um mecanismo de dados do Wicd
Comment[sv]=Ett WICD-datagränssnitt
Comment[uk]=Рушій даних Wicd
Comment[x-test]=xxA Wicd data enginexx
Comment[zh_CN]=Wicd 数据引擎
Comment[zh_TW]=Wicd 資料引擎

X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=network-wireless
X-KDE-Library=plasma_engine_wicd
X-KDE-PluginInfo-Author=Anthony Vital
X-KDE-PluginInfo-Email=anthony.vital@gmail.com
X-KDE-PluginInfo-Name=wicd
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=

